:root {
    --main-c: #f87f2e;
    --border-r: .2rem;
}

/** Estilos Generales**/

html * {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

p {
    font-size: 1.1rem;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

.wrap-cta {
    padding: 1.5rem 0;
}

.cta-a {
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: var(--main-c);
    padding: .5rem 1rem;
    border-radius: var(--border-r);
}

h1 {
    font-size: 2.8rem;
}

/**
h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.2rem;
}**/

/** Header **/

.header-landing {
    display: flex;
    justify-content: center;
    background: #f2f2f2;
    padding: 0.5rem;
}

.logo-header {
    max-width: 70px;
    height: 100%;
    width: 100%;
}


/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.section {
    margin: 20px 0;
}

.wrap-title-section {
    text-align: center;
}

/* Estilos para la sección de autos */
.autos-section {
    background-color: #f4f4f4;
    padding: 20px;
}

.autos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.auto {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
}

.auto-images img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.auto-info {
    text-align: center;
}

.auto img {
    max-width: 30%;
}


/* Agrega estilos adicionales según tus preferencias */